/* This is a global CSS file for the entire application */
/* It contains styles that apply to all components and pages */
/* You can add your global styles here */

*{
  margin: 0;
  padding: 0;
  font-family: var(--font-poppins), sans-serif;
}

