/* This is a global CSS file for the entire application */
/* It contains styles that apply to all components and pages */
/* You can add your global styles here */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-poppins), sans-serif;
  /* outline: 1px solid red; */
}

